body{
  font-family: 'Roboto',sans-serif;
}
.MuiButton-containedSecondary {
  color: #fff;
  background-color: #FF732C !important;
}
.MuiButton-containedPrimary{
background-color:#FF732C !important;
color:#fff;
}
.MuiRadio-colorSecondary.Mui-checked{
  color:#FF732C !important;
}
.MuiCheckbox-colorSecondary.Mui-checked{
  color:#FF732C !important;
}
.MuiPaper-elevation4{
  box-shadow: transparent!important;
  background-color: #ffffff !important;
}
.MuiAppBar-colorPrimary{
  background-color: #fff !important;
  color: black !important;
}
.MuiTab-textColorPrimary.Mui-selected{
  color:#FF732C !important;
}
.MuiPaper-elevation4{
  box-shadow: none !important;
}
#tabStyle{
  box-shadow: none!important;
}
.MuiTab-root{
  min-width: 50px !important;
}
.MuiTab-labelIcon{
  min-width: 72px !important;
}
.PrivateTabIndicator-colorPrimary-251{
  background-color: #FF732C !important;
  display: none !important;
}
.MuiTab-textColorInherit.Mui-selected{
  opacity: 1;
  border-color: #FF732C !important;
  color: #666 !important;
}
.PrivateTabIndicator-colorSecondary-252{
  background-color: #FF732C !important;
  display: none !important;
}
.PrivateTabScrollButton-root-238 {
  width: 20px !important;
  flex-shrink: 0;
}
.MuiOutlinedInput-input {
  padding: 8.5px 14px !important;
}
/* traveller tabpanel  */
.MuiExpansionPanelSummary-root{
  padding: 0 !important;
}
/*traveller end */

/* calender */
.MuiPickersToolbar-toolbar{
  background-color: #FF732C !important;
}
.MuiPickersDay-daySelected{
  background-color: #FF732C !important;
}
/* end calender */

/* carousel */
.react-multi-carousel-item {
padding:16px;
}
/* .react-multiple-carousel__arrow--right {
  right: calc(5% + 1px);
  top: 0px;
}
.react-multiple-carousel__arrow--left {
  left: calc(85% + 1px) !important;
  top: 0px;
} */
.react-multiple-carousel__arrow{
  min-width: 30px !important;
  min-height: 30px !important;
  border-radius: 50% !important;
}
.react-multiple-carousel__arrow::before {
  font-size: 15px !important;
}

/* @media only screen and (max-width: 600px) and (min-width:600px) {
  .react-multiple-carousel__arrow--right {
    right: calc(5% + 1px);
    top: 0px;
  }
  .react-multiple-carousel__arrow--left {
    left: calc(73% + 1px) !important;
    top: 0px;
  }
}
@media screen and (min-width:600px) {
  .react-multiple-carousel__arrow--right {
    right: calc(5% + 1px);
    top: 0px;
  }
  .react-multiple-carousel__arrow--left {
    left: calc(73% + 1px) !important;
    top: 0px;
  }
}
@media screen and (max-width: 520px) {
  .react-multiple-carousel__arrow--right {
    right: calc(5% + 1px);
    top: 0px;
  }
  .react-multiple-carousel__arrow--left {
    left: calc(73% + 1px) !important;
    top: 0px;
  }
} */
/*end craousel */








.origin_destination {
  width: 100%;
    display: block;
    flex-wrap: nowrap;
    padding-left: 12px;
    border-left: 2px solid  #dbe3ef;
    position: relative;
}
.origin_destination:before{
  content: " ";
    position: absolute;
    background-color: #dbe3ef;
    padding: 3px;
    border-radius: 50%;
    top: 0;
    left: -4px;
}
.origin_destination div{
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #333;
  font-weight: 500;
}
.elip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.time{
  margin: 5px 0 20px;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
}
.origin_destination:after {
  content: " ";
  background-color: #dbe3ef;
  padding: 3px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: -4px;
}
.low_price p span {
  color: #999;
  font-size: 12px;
  font-weight: 400;
    display: block;
}
.price_go .low_price .rs  {
  color: #FF732C;
  text-align: center;
  display: block;
  font-weight: 500;
  line-height: 2;
}
#destination-start
{
  margin-right: 20px;
}
.cardPadding{
  padding:30px 20px 20px;
}
.carousel-prev, .carousel-next{
  top:-125px !important;
}
